In [1]:
import pandas as pd

In [3]:
#loc
# access a group of rows and columns by label(s) or a boolean array
#syntax : df.loc[]

In [6]:
df = pd.read_csv('data/student_results.csv')
df

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percentage
0,1001,10,2.0,9,3.0,5.0,50
1,1002,10,6.0,8,2.0,0.0,80
2,1003,10,3.0,8,2.0,4.0,60
3,1004,11,NaN,10,1.0,5.0,45
4,1005,11,4.0,7,2.0,NaN,75
5,1006,11,10.0,7,NaN,NaN,96
6,1007,12,4.0,6,NaN,NaN,80
7,1008,12,10.0,6,2.0,NaN,90
8,1009,12,2.0,8,2.0,4.0,60
9,1010,12,6.0,9,1.0,NaN,85

In [7]:
#using loc
df.loc[0]

Student ID                1001.0
Class                       10.0
Study hrs                    2.0
Sleeping hrs                 9.0
Social Media usage hrs       3.0
Mobile Games hrs             5.0
Percentage                  50.0
Name: 0, dtype: float64

In [9]:
df.loc[[1,2,3]]

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percentage
1,1002,10,6.0,8,2.0,0.0,80
2,1003,10,3.0,8,2.0,4.0,60
3,1004,11,NaN,10,1.0,5.0,45

In [10]:
#accesssing ertain value in a column
df.loc[2,'Class']

10

In [12]:
df.loc[0:3,'Class']   #both 0 and 3 are incusive

0    10
1    10
2    10
3    11
Name: Class, dtype: int64

In [15]:
df.loc[[False,False,True,False,False,True,False,False,True,False]]

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percentage
2,1003,10,3.0,8,2.0,4.0,60
5,1006,11,10.0,7,NaN,NaN,96
8,1009,12,2.0,8,2.0,4.0,60

In [17]:
#using conditional operator
df.loc[df['Class']<11]

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percentage
0,1001,10,2.0,9,3.0,5.0,50
1,1002,10,6.0,8,2.0,0.0,80
2,1003,10,3.0,8,2.0,4.0,60

In [18]:
df.loc[df['Class']<11,'Percentage']

0    50
1    80
2    60
Name: Percentage, dtype: int64

In [20]:
#iloc   integer location-based indexing

In [21]:
df.iloc[0]

Student ID                1001.0
Class                       10.0
Study hrs                    2.0
Sleeping hrs                 9.0
Social Media usage hrs       3.0
Mobile Games hrs             5.0
Percentage                  50.0
Name: 0, dtype: float64

In [22]:
df.iloc[[0]]

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percentage
0,1001,10,2.0,9,3.0,5.0,50

In [23]:
df.iloc[:,0]

0    1001
1    1002
2    1003
3    1004
4    1005
5    1006
6    1007
7    1008
8    1009
9    1010
Name: Student ID, dtype: int64

In [24]:
df.iloc[[1,2]]

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percentage
1,1002,10,6.0,8,2.0,0.0,80
2,1003,10,3.0,8,2.0,4.0,60