In [2]:
import pandas as pd

In [3]:
pd.__version__

'1.0.3'

In [4]:
list_s = [1,2,-4,4,3,'string value']
list_s

[1, 2, -4, 4, 3, 'string value']

In [8]:
#converting list to series
series1 = pd.Series(list_s)
print(series1)

0               1
1               2
2              -4
3               4
4               3
5    string value
dtype: object

In [9]:
type(series1)

pandas.core.series.Series

In [10]:
#creating series
series2=pd.Series([1,4,5,'the data value'])
series2

0                 1
1                 4
2                 5
3    the data value
dtype: object

In [11]:
empt_s = pd.Series([])
empt_s

/home/mamata/day_one_task/venv/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

Series([], dtype: float64)

In [14]:
#index
series3 = pd.Series([1,2,3,4],index=['A','B','C','D'])
series3

A    1
B    2
C    3
D    4
dtype: int64

In [16]:
#index and dtype
series4 = pd.Series([1,2,3,4],index=['a','b','c','d'],dtype='float')
series4

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [17]:
#name
series5 = pd.Series([1,2,3,4],index=['a','b','c','d'],dtype='float',name='data values')
series5

a    1.0
b    2.0
c    3.0
d    4.0
Name: data values, dtype: float64

In [19]:
#single scalar series
series6 = pd.Series(0.5)
series6

0    0.5
dtype: float64

In [20]:
series7 = pd.Series(0.5,index=[1,2,3,4,5])
series7

1    0.5
2    0.5
3    0.5
4    0.5
5    0.5
dtype: float64

In [21]:
#creating dict series using dictionary
dict_s = pd.Series({'a':1,'b':2})
dict_s

a    1
b    2
dtype: int64

In [22]:
#series operation
s1= pd.Series([1,2,3,4])
s1

0    1
1    2
2    3
3    4
dtype: int64

In [23]:
s1[0]

1

In [25]:
#returns the 0th row to 2nd row
s1[0:3]

0    1
1    2
2    3
dtype: int64

In [26]:
#returns maximum value from series
max(s1)

4

In [27]:
min(s1)

1

In [29]:
#returns value in series which are greater than 2
s1[s1>2]

2    3
3    4
dtype: int64

In [30]:
s2= pd.Series([1,2,3,4])
s3= pd.Series([1,2,3])
s2+s3

0    2.0
1    4.0
2    6.0
3    NaN
dtype: float64