# How to create dataframe

In [2]:
import pandas as pd

In [3]:
empt_df = pd.DataFrame()
empt_df

Empty DataFrame
Columns: []
Index: []

In [4]:
#creating df using list
list = ['a','b','c','d']
pd.DataFrame(list)

   0
0  a
1  b
2  c
3  d

In [8]:
ls_of_ls =[[1,2,3],[4,5,6],[6,7,8]]
df2 = pd.DataFrame(ls_of_ls)
df2

   0  1  2
0  1  2  3
1  4  5  6
2  6  7  8

In [9]:
#creating df using dictionary
dict = {'ID':[1,2,33,44]}
df3 = pd.DataFrame(dict)
df3

   ID
0   1
1   2
2  33
3  44

In [11]:
dict2 = {'ID':[1,2,33,44],'sno':[1,2,3,4]}
df4 = pd.DataFrame(dict2)
df4

   ID  sno
0   1    1
1   2    2
2  33    3
3  44    4

In [14]:
#creating df from list of dictionary
ls_of_dict = [{'a':1,'b':2,'c':3},{'a':1,'b':2}]
df5 = pd.DataFrame(ls_of_dict)
ls_of_dict
df5

   a  b    c
0  1  2  3.0
1  1  2  NaN

In [17]:
#creating df from dictionary of series
dict_of_series = {'id':pd.Series([1,2,3,4]),'sno':pd.Series([11,22,33])}
df6= pd.DataFrame(dict_of_series)
df6

   id   sno
0   1  11.0
1   2  22.0
2   3  33.0
3   4   NaN